* {
    box-sizing: border-box;
  }

  .burger-image{
    margin: 0 auto;
    text-align: center;
  }

  .lead{
    font-size: 30px;
    font-weight: bold;
  }

  body {
    font-family: 'Architects Daughter', cursive;
  }

  .jumbotron {
    background-color: #ffd986;
  }

  .container-fluid {
    margin: 0 auto;
    text-align: center;
  }

  h2 {
    margin: 15px;
    line-height: 1.2;
    font-weight: bold;
    color:  #226660
  }


  .display-4 {
    color: #226660;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
  }

  h2 {
    margin: 15px;
    line-height: 1.2;
    font-weight: bold;
    color: #226660
  }

  @media (min-width: 768px) {
    body .burger-lists {
     justify-content: space-between;
    }
  }

  @media (min-width: 768px) {
    body .burger-lists li {
      text-align: left;
    }
  }
  
  